#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  padding: 12px;
  background-color: #f1c5b6;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  height: 600px;
  flex-direction: column;
  align-items: center;
}








